<!DOCTYPE html>
<html>
    <head>
        <title>%title%</title>
        <meta charset="UTF-8">
        <meta name="name" content="%name%">
        <meta name="description" content="%description%">
        <link rel="stylesheet" type="text/css" href="css/example.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body class="p-0 m-0 border-0">

        <!-- navbar -->
        <header class="navbar navbar-expand-lg bg-light sticky-top shadow-sm">

            <div class="container-fluid">

                <a class="navbar-brand" href="#">
                    <img src="../apidoc/giro3d_logo_compact.svg" height="32" class="brand">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Examples</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../apidoc/index.html">API</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://gitlab.com/giro3d/giro3D" target="_blank">GitLab</a>
                        </li>
                    </ul>
                </div>

                <a href="%source_url%" target="_blank">
                    <button type="button" class="btn btn-outline-secondary">Source</button>
                </a>
            </div>
        </header>

        %content%

        <script type="module" src="%js%"></script>
    </body>
</html>
