<!DOCTYPE html>
<html>

<head>
    <title>Giro3D - Examples</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="index.js"></script>
</head>

<body>

    <header class="navbar navbar-expand-lg bg-light sticky-top shadow-sm">

        <div class="container-fluid">

            <a class="navbar-brand" href="#">
                <img src="../apidoc/giro3d_logo_compact.svg" height="32" class="brand">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Examples</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../apidoc/index.html">API</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://gitlab.com/giro3d/giro3D" target="_blank">GitLab</a>
                    </li>
                </ul>
                <form class="form-inline" role="search">
                    <input name="q" type="text" id="keywords" class="form-control search-query" placeholder="Search" aria-label="Examples" aria-describedby="count" autocomplete="off" autofocus="">
                </form>

            </div>
        </div>
    </header>

    <div class="container-fluid p-3 m-0">
        <div class="row row-cols-4 gy-3 gx-3">
            %examples%
        </div>
    </div>

</body>

</html>