@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700);

:root {
  --giro-bg-lightblue: rgba(189, 222, 247, 0.35);
  --giro-blue: rgb(45, 130, 195);
  --giro-darkblue: rgb(27, 93, 142)
}

.navbar-inverse {
  border: 0;
  box-shadow: 0px -4px 10px 0px rgba(0,0,0,0.75);
}
.navbar-inverse .navbar-inner {
  background: rgb(255, 255, 255);
  height: 50px;
}
.navbar-inverse .brand {
  color: #fff;
  font-size: 160%;
  font-weight: bold;
  position: absolute;
  left: 16px;
  height: 100%;
}
.navbar-inverse .brand:hover,
.navbar-inverse .brand:focus {
  color: #aae1e9;
  text-decoration: none;
}
.navbar-inverse .brand img {
  height: 100%;
  vertical-align: middle;
  margin-right: 5px;
  border:0;
}
.navbar-inverse .container {
  padding: 0;
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a.active
{
  outline:0;
  color: #fff;
  background-color: #4da6e9;
}

.nameContainer .anchor {
  padding-top: 50px;
  margin-top: -50px;
  width: 0px;
  height: 0px;
}
/* Highlighting current anchor */
.nameContainer .anchor:target + h4 {
  background-color: #faebcc;
}
a {
  position: relative;
  z-index: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
  color: var(--giro-blue);
}
.navigation li {
  color: #888;
}

html,
ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
code {
  color: var(--giro-darkblue);
  background-color: var(--giro-bg-lightblue);
}
#wrap {
  position: relative;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}
.navigation {
  position: fixed;
  float: left;
  width: 250px;
  height: 100%;
  border-right: 1px #ccc solid;
}
.navigation .applicationName {
  margin: 0;
  margin-top: 15px;
  padding: 10px 15px;
  font: bold 1.25em Helvetica;
  color: #fff;
}
.navigation .applicationName a {
  color: #fff;
}
.navigation .include-modules {
  color: #e1e1e1;
  float: right;
  font-size: 0.75em;
  padding: 5px 15px;
}
.navigation .include-modules input {
  vertical-align: text-bottom;
}
.navigation .search {
  padding: 10px 15px;
}
.navigation .navigation-list {
  padding: 10px 15px 0 15px;
  position: relative;
  overflow: auto;
  width: 100%;
}
.navigation li.item {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #333;
}

.navigation .glyphicon {
  margin-right: 3px;
  flex-shrink: 0;
}
.navigation .item .glyphicon:before {
  display: inline-block;
}
.navigation .item.toggle-manual .glyphicon:before {
  transition: transform .1s;
}
.navigation .item-class.toggle-manual-show .glyphicon:before {
  /* With 90deg the icon slightly slides left at transition end */
  transform: rotate(89.9deg);
}
.navigation .item-module.toggle-manual-show .glyphicon:before {
  transform: rotate(45deg);
}

.navigation li.perfect-match {
  border: 5px solid orange;
}

.navigation li.item a {
  color: rgb(51, 51, 51);
}
.navigation li.item .title {
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.85em;
}
.navigation li.item .title a {
  color: rgb(51, 51, 51);
}
.navigation li.item .title .static {
  display: block;
  border-radius: 3px;
  background-color: var(--giro-blue);
  color: #FFF;
  font-size: 0.7em;
  padding: 2px 4px;
  float: right;
}
.navigation li.item .subtitle {
  margin-top: 10px;
  font: bold 0.7em Helvetica;
  color: var(--giro-blue);
  display: block;
}
.navigation li.item .modulelink {
  position: relative;
  font-size: 0.75em;
  padding-left: 5px;
  top: -5px;
}
.navigation li.item ul > li {
  font-size: 0.75em;
  padding-left: 8px;
  margin-top: 2px;
}
.navigation li.item .member-list {
  padding-left: 8px;
}

/* search state */
/* show all classes when search is empty */
.navigation-list.search-empty .item {
  display: block;
}
/* hide all members by default when search is empty */
.navigation-list.search-empty .item .member-list {
  display: none;
}
/* expand all members when input in search field available but too short to search */
.navigation-list.search-started li,
.navigation-list.search-started .member-list {
  display: block;
}
/* when searching hide everything that is not a match */
.navigation-list.searching li,
.navigation-list.searching .member-list {
  display: none;
}
.navigation-list.searching .match {
  display: block;
}
/* allow user to hide / show members */
.navigation-list .item.toggle-manual-show li,
.navigation-list .item.toggle-manual-show .member-list {
  display: block!important;
}
.navigation-list:not(.searching) .item.toggle-manual-hide li,
.navigation-list:not(.searching) .item.toggle-manual-hide .member-list {
    display: none!important;
}

.main {
  padding: 20px 20px;
  margin-left: 250px;
}
.main .page-title {
  display: none;
}
.main h1 {
  font-weight: bold;
  font-size: 1.6em;
  margin: 0;
}
.main h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
}
.main h3 {
  font-weight: bold;
  font-size: 13px;
  margin: 5px 0;
}
.main h4 {
  font-weight: bold;
  font-size: 1em;
}
.main h5 {
  font-weight: bold;
  font-size: 13px;
}
.main dd, .main .props {
  font-size: 13px;
}
.main h4.name span.type {
  margin-left: 10px;
}
.main h4.name span.glyphicon {
  display: inline-block;
  vertical-align: middle;
  color: #c1c1c1;
  margin-left: 7px;
}
.main h4.name span.returnType, .main h4.name span.type {
  margin-left: 3px;
  background-color: transparent!important;
  color: gray!important;
}
.main span.static, .main span.stability {
  display: inline-block;
  border-radius: 3px;
  background-color: var(--giro-blue) !important;
  color: #fff;
  vertical-align: top;
  font-size: 0.8em;
  padding: 2px 4px;
}
td.description span.stability {
  float: left;
  margin-right: 0.5em;
}
span.type-signature.static {
  margin-right: 3px;
}
.main .subsection-title {
  font-size: 15px;
  margin-top: 30px;
  color: var(--giro-blue);
}
.main .description {
  margin-top: 10px;
  font-size: 14px;
}
.main .description p {
  font-size: 14px;
}
.main .tag-source {
  font-size: 13px;
}
.main dt.tag-source {
  margin-top: 5px;
}
.main dt.tag-todo {
  font-size: 11px;
  display: inline-block;
  background-color: #2a6496;
  color: #fff;
  padding: 2px 4px;
  border-radius: 5px;
}
.main .type-signature {
  font-size: 13px;
}
.main .tag-deprecated {
  display: inline-block;
  font-size: 11px;
}
.main .important {
  background-color: #ee7d7d;
  color: #fff;
  padding: 2px 4px;
  border-radius: 5px;
}
.main .nameContainer {
  position: relative;
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid #e1e1e1;
}
.main .nameContainer .inherited {
  display: inline-block;
  border-radius: 3px;
  background-color: #888!important;
  vertical-align: top;
  font-size: 0.8em;
  padding: 2px 4px;
  margin-right: 5px;
}
.main .nameContainer .inherited a {
  color: #fff;
}
.main .nameContainer .tag-source {
  position: absolute;
  top: 17px;
  right: 0;
  font-size: 11px;
}
.main .nameContainer .tag-source a {
  color: gray;
}
.main .nameContainer.inherited {
  color: gray;
}
.main .nameContainer h4 {
  margin-top: 0px;
  margin-right: 150px;
  line-height: 1.3;
}
.main .nameContainer h4 .signature {
  font-size: 14px;
  font-weight: normal;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  white-space: nowrap;
  background-color: #f9f2f4;
  border-radius: 4px;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
.main pre {
  font-size: 12px;
}
.main table {
  width: 100%;
  margin-bottom: 15px;
}
.main table th {
  padding: 3px 3px;
}
.main table td {
  vertical-align: top;
  padding: 5px 3px;
}
.main table .name {
  width: 110px;
}
.main table .type {
  color: rgb(131, 130, 130);
  font-size: 12px;
}
.main table .attributes {
  width: 80px;
  color: #aaa;
  font-size: 12px;
}
.main table .description {
  font-size: 13px;
}
.main table .description p {
  margin: 0;
}
.main table .optional, .main table .repeatable {
  float: left;
  border-radius: 3px;
  background-color: #ddd!important;
  font-size: 0.7em;
  padding: 2px 4px;
  margin-right: 5px;
  color: gray;
}
.main .readme p {
  margin-top: 15px;
  line-height: 1.2;
  font-size: 0.9em;
}
.main .readme h1 {
  font-size: 1.7em;
}
.main .readme h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}
.main .readme li {
  font-size: 0.95em;
  margin-bottom: 10px;
}
.main article ol,
.main article ul {
  margin-left: 25px;
}
.main article ol > li {
  list-style-type: decimal;
  margin-bottom: 5px;
}
.main article ul > li {
  margin-bottom: 5px;
  list-style-type: disc;
}
footer {
  margin: 15px 0;
  padding-top: 15px;
  border-top: 1px solid #e1e1e1;
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 0.8em;
  color: gray;
}
.main span.stability.deprecated {
  background-color: #b94a48 !important;
  color: #f2dede;
}
.main span.stability.experimental {
  background-color: #F2CC79 !important;
  color: #800F07;
}
.main span.stability.unstable {
  background-color: #3a87ad !important;
  color: #d9edf7;
}
.main span.stability.locked {
  background-color: #468847 !important;
  color: #dff0d8;
}
.main .readme table p {
  margin-top: 0;
}
.main .readme table p, .main .readme table td {
  font-size: 14px;
}
.main .readme table ul li {
  margin-bottom: 0;
}
.hidden {
  display: none;
}
#stability {
  color: white;
  position: absolute;
  top: 1em;
  left: 250px;
  font-weight: normal;
}
#latest-check {
  margin-top: -10px;
  margin-bottom: 10px;
}
