---
title: Arbitrary map extents
shortdesc: Create maps with arbitrary extents
---
<div class="position-relative h-100">
    <div class="dropdown m-3 position-absolute top-0 end-0">
        <button class="btn btn-primary" id="createMap">Create new map</button>
    </div>
    <div id="panelDiv" class="position-absolute top-0 start-0 h-100 overflow-auto"></div>
    <div id="viewerDiv"></div>
</div>