---
title: Cloud Optimized GeoTIFF (COG)
shortdesc: Display a COG on a map.
---
<div class="position-relative h-100">
    <div class="dropdown m-3 position-absolute top-0 end-0">
        <select class="btn btn-primary dropdown-toggle d-block" id="cogLayerOptions">
            <option>UINT8 3-band RGB Data</option>
            <option>UINT16 1-band NIR Data </option>
        </select>
    </div>
    <div id="panelDiv" class="position-absolute top-0 start-0 h-100 overflow-auto"></div>
    <div id="viewerDiv"></div>
</div>

