---
title: Hillshading
shortdesc: Display a 2.5D map with elevation and hillshades.
---
<div class="position-relative h-100">
    <div id="panelDiv" class="position-absolute top-0 start-0 h-100 overflow-auto"></div>
    <div id="viewerDiv"></div>
    <div class="p-2 m-2 position-absolute top-0 end-0 card">
        <p class="card-text">Color layer opacity</p>
        <input type="range" min="0" max="100" value="0" class="slider" id="opacitySlider">
      </div>
</div>