---
title: Vectors With OpenLayers
shortdesc: Display Vector data on a Map using OpenLayers.
---
<div class="position-relative h-100">
    <div id="panelDiv" class="position-absolute top-0 start-0 h-100 overflow-auto"></div>
    <div id="viewerDiv"></div>
</div>