---
title: 2D Map
shortdesc: Display a 2D map using an orthographic camera.
---
<div class="position-relative h-100">
    <div id="panelDiv" class="position-absolute top-0 start-0 h-100 overflow-auto"></div>
    <div id="viewerDiv"></div>
</div>
