---
title: Native Vector Data
shortdesc: Display vector data (KML, GeoJSON, GPX) using the native Giro3d loaders.
---
<div class="position-relative h-100">
    <div id="panelDiv" class="position-absolute top-0 start-0 h-100 overflow-auto"></div>
    <div id="viewerDiv"></div>
</div>